/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* Apply the Poppins font family to all elements */
* {
  font-family: 'Montserrat', sans-serif;  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.app,
header,
main,
footer,
section {

  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;

}

.sectionTextImg{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;  


}

.mainTexto{

    width: 50%;    
    
    height: 100%;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    
}

.mainTexto p{

  width: 80%;
  text-align: justify;
  margin: 0 auto;
  font-weight: 500; /* Negrito */
  font-size: 20px;
  
  
}

.swiperSlide{

    
    width: 50%;  

    
    
}



.swipeImg img{

  width: 100%;
	height: 100%;
	object-fit: contain;
  
    
    
}

.swiperImg{
  background-color: black;
  align-items: center;

  
}

.spaceLine, .spaceLineNav{
  background-image: linear-gradient(to right, #ffd551, #f08528);
  width: 90%;
  height: 3px;
  margin: 0 auto;
}

.spaceLineNav{

  width: 100%;
}

.reverse{
  flex-direction: row-reverse;
}



header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 2rem;
  background-color: var(--bgDark);

  border-bottom: 2px solid var(--verdeClaro); /* largura e estilo da linha */

  font-weight: 500;
  font-style: normal;
  

  

}

nav a {

  margin: 0 2rem;
  
  text-decoration: none;
  font-size: 1.3rem;
  

}


nav a:hover {


  

  font-weight: bold;

  

  
  cursor: pointer;



  background-image: linear-gradient(to right, #ffbf00, #ff9c00);
   /* Aplica o degradê apenas ao texto */
   background-clip: text;
   /* Cor do texto transparente para mostrar o degradê */
   -webkit-text-fill-color: transparent;

   
}

nav a{

  font-weight: bold;

  color: black;
}

header img {

  width: 90px;



}

header .nav-btn {

  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--verdeClaro);
  display: none;
  opacity: 0;
  font-size: 1.5rem;



}


/* problemas */


.sectionLocation {
  display: flex; /* Alinha os elementos lado a lado */
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.iframeLocalizacao, .locationImgDiv {
  flex: 1; /* Faz com que cada elemento ocupe o mesmo espaço */
  height: 100%; /* Define a altura para 100% */
  width: 100%; /* Define a largura para 100% */
}

.locationImgDiv img {
  width: 100%; /* Faz a imagem preencher completamente a largura da div */
  height: 100%; /* Faz a imagem preencher completamente a altura da div */
  object-fit: cover; /* Faz a imagem cobrir toda a div, cortando o excesso se necessário */
  object-position: top left;
}

.slideOxe{
  height: 100%;
  background-color: brown;
}


.locationImgDiv{
  background-color: aquamarine;
}

.locationImgDiv div{
  height: 100%;
}


.fade-text {
  animation: fade 1s ease-in-out forwards;
  
}

.fontText{
  font-family: 'Pacifico', cursive;
  letter-spacing: 7px;
}

@keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.mainTexto .mainSomos{
  font-size: 80px;
  margin-left: 10px;
  letter-spacing: -5px; 

  
}


.mainTexto .mainSomos .fontText{
  
  letter-spacing: 0px;
  font-size: 92px; 

   /* Define o degradê linear */
   background-image: linear-gradient(to right, #ffbf00, #ff9c00);
   /* Aplica o degradê apenas ao texto */
   background-clip: text;
   /* Cor do texto transparente para mostrar o degradê */
   -webkit-text-fill-color: transparent;

  
}

.sectionTextImg .mainTexto img{

  width: 180px;
  height: 180px;
  object-fit: scale-down;


}


.parceirosSection{

  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffd551, #f08528);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.containerParceiros{

  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  



}

.parceirosSection .containerParceiros img,
.parceirosSection .parceirosTituloLogo .bbPixParceiro .bbParceiro img{
  width: 95px;
  
  transition: transform 0.3s ease-in-out;
  object-fit: scale-down;
  
  
}

.parceirosSection .containerParceiros img:hover,
.parceirosSection .parceirosTituloLogo .bbPixParceiro .bbParceiro img:hover{

  transform: scale(1.3);

}

.parceirosSection .parceirosTituloLogo .bbPixParceiro .bbParceiro p{
  font-weight: bold;
  font-size: large;
}

.parceirosSection .parceirosTituloLogo .bbPixParceiro .bbParceiro{

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;


}

.parceirosSection .parceirosTituloLogo .bbPixParceiro{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}




.parceirosTituloLogo{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  width: 85%;
  border-radius: 30px;
  padding: 20px 05px;
  margin: 10px 0;

}

.visitaP{
  font-weight: bold;

}

.visitaP a{
  color: #f08528;

}

.visitaDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 10px 0;
}

.container-sociais img {
  width: 27px;

}

.container-sociais {

  display: flex;

  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;



}

footer {
  /* Altura do elemento. */
  min-height: 70px;
  background-image: linear-gradient(to right, #f0aa28, #f08528);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  


}


.pFooter {
  font-size: 18px;
  color: white;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  padding: 0px;

  text-align: center;



}

.sectionTextImg .mainTexto .imgLogoProject{
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}

main .boletimSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

main .boletimSection iframe{

  border-radius: 30px;

  

  
  
}



main .selectBoletim{

  width: 400px;
  height: 50px;
  font-size: 20px;
  background-color: white;
  border: 1px solid #f08528;
  /* Outros estilos que você desejar */
  border-radius: 5px;

  margin-top: 30px;

  color: #ff9c00;

  font-weight: bolder;

  

  

  
  
}


main .selectBoletim option:hover{

  color: red;


}

.mainBoletim{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width: 1024px) {

  .sectionTextImg{

    flex-direction: column-reverse;
    justify-content: space-around;
    height: auto;
    padding-bottom: 20px;

    


  }

  
  .mainTexto{

    width: 100%;    
    
    

    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
    
  }

  .swiperSlide{

    
    width: 100%;  

    
    
  }

  
  .mainTexto p{

    width: 95%;
    
  }

  .sectionTextImg .mainTexto .mainSomos{

    font-size: 50px;
    line-height: 64px;
    letter-spacing: 0px; 
    
    

    
  }

  .sectionTextImg .mainTexto .mainSomos .fontText{
    
    letter-spacing: 0px;

    font-size: 55px;

   

    

    
  }

  
  

  header .nav-btn {
        
    display: block;
    opacity: 1;
  
  }

  header nav {

      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: white;
      
      transition: 1s;
      transform: translateY(-100vh);
      z-index: 999;


  }

  header .responsive_nav{

      transform: none;        

  }

  header .nav-close-btn{
      position: absolute;
      top: 2rem;
      right: 2rem;


  }

  nav a{
      font-size: 1.5rem;
  }


  header img {

    width: 80px;
  
  
  
  }

  .sectionLocation{

    flex-direction: column-reverse;
  }

  .parceirosSection .parceirosTituloLogo .bbPixParceiro{
    flex-direction: column;
    gap: 20px;
  }

  .pFooter {


    width: 90%
  }

  footer {
    /* Altura do elemento. */
    min-height: 90px;
        
  
  
  }

  .sectionTextImg .mainTexto .imgLogoProject{
    width: 220px;
    height: 220px;
    object-fit: scale-down;
  }

  .swipeImg img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    
      
      
  }

  main .selectBoletim{

    width: 200px;



  }

  

  
  
  
  
  






}



