/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply the Poppins font family to all elements */
* {
  font-family: Poppins, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header,
main,
footer,
section {

  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
 





}

.sectionTextImg{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;

    background-color: rgb(255, 235, 108);

    


}

.mainTexto{

    width: 50%;    
    
    height: 100%;

    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 50px;
    
}

.mainTexto p{

  width: 80%;
  text-align: justify;
  margin: 0 auto;
  
}

.swiperSlide{

    
    width: 50%;  

    
    
}



.swipeImg img{

  width: 100%;
	height: 100%;
	object-fit: contain;
  
    
    
}

.swiperImg{
  background-color: black;
  align-items: center;

  
}

@media only screen and (max-width: 1024px) {

  .sectionTextImg{

    flex-direction: column-reverse;
    justify-content: space-around;
    height: auto;

    


  }

  
  .mainTexto{

    width: 100%;    
    
    

    display: flex;

    flex-direction: column;
    justify-content: space-around;
    
  }

  .swiperSlide{

    
    width: 100%;  

    
    
  }

  
  .mainTexto p{

    width: 90%;
    
  }




}



